# Variables de entorno y secretos
.env
.env.*
!.env.example

# Node.js
node_modules/
dist/
backend/src/prisma/client/

# Flutter y Dart
.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Editores
.idea/
*.iml
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db